{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detection</title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    {% comment %} <link rel="stylesheet" href="../static/Interface/fonts/fontawesome-free-5.5.0-web/css/all.css"> {% endcomment %}
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!--  Bootstrap CSS  -->
    <link rel="stylesheet" href="{% static 'Interface/css/bootstrap.css' %}">

    <!--    CSS  -->
    <link rel="stylesheet" href="{% static 'Interface/css/style.css' %}">
<style>
    .btn-circle.btn-lg {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 25px;
    }

</style>
</head>

<body>
<div>
    <div>
        <!---Bootstrap Navbar -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end navbar-fixed-top">
            <a class="navbar-brand" href="#">
                {#                <img src="/images/logo/QuickWash-navbar.svg" width="30" height="30" class="d-inline-block align-top">#}
                Traffic Rules Violation Detection
            </a>
            <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active mr-auto navbar-right">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item navbar-right">
                        <a class="nav-link" href="#">Reciept</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Daily</a>
                            <a class="dropdown-item" href="#">Monthly</a>
                            <a class="dropdown-item" href="#">Quaterly</a>
                        </div>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!---End of Bootstrap Navbar -->
    </div>

    <!-- Bootstrap sidebar -->

    {% block content %}

    {% endblock content %}

</div>
</body>

<!-- jQuery -->
<script src="{% static 'Interface/js/jquery.min.js' %}"></script>

<!-- Main -->
<script src="{% static 'Interface/js/main.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'Interface/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Interface/js/bootstrap.js' %}"></script>

<script src="{% static 'Interface/js/jquery.min.js' %}"></script>
<script src="{% static 'Interface/js/sidebar.js' %}"></script>
<script src="{% static 'Interface/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Interface/js/bootstrap.js' %}"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
-->

{% block scripts %}

{% endblock scripts %}

</html>