{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <button class="btn btn-success btn-circle btn-lg" onclick="sendPredictionRequest()">></button>
        <div id="prediction" hidden>
            <div id="model_div" align="center">
                <h3>Current Model: </h3>
                <h3 id="model_name"></h3>
            </div>
            <div id="progress_video">
                <h3>Progress</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width:0%" id="progress">

                    </div>
                </div>
            </div>
            <div id="detected_objects"></div>
        </div>

    </div>


{% endblock content %}

{% block scripts %}

    <script>
        var total_frames;

        function sendPredictionRequest() {
            $.ajax({
                type: 'POST',
                url: "{% url 'Interface:prediction' %}",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                }
            });
            document.getElementById('prediction').hidden = false;
            get_first_response();
        }

        function get_first_response() {
            $.ajax({
                type: 'POST',
                url: "{% url 'Interface:get_first_response' %}",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                },
                success: function (data) {
                    let parsed = JSON.parse(data);
                    document.getElementById('model_name').innerHTML = parsed['model_name'];
                    total_frames = parseInt(parsed['total_frames']);

                    setInterval($.ajax({
                        type: 'POST',
                        url: "{% url 'Interface:get_frames' %}",
                        data: {
                            'csrfmiddlewaretoken': "{{ csrf_token }}",
                        },
                        success: function (data) {
                            let parsed_data = JSON.parse(data);
                            console.log(JSON.parse(data));
                            {#let total_frames = parseInt(parsed_data['total_frames']);#}
                            {#let bar = document.getElementById('progress');#}
                            {#bar.innerHTML = parsed_data['frames_done'] + 'frames out of ' + total_frames + 'frames';#}
                            {#bar.style.width = parseInt(parsed_data['frames_done']) / total_frames * 100;#}
                        }
                    }), 5000);

                }
            })
        }
    </script>
{% endblock scripts %}